html,body {
  margin: 0;
  padding: 0;
  background: url("./nonnonbiyori-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
#gif {
  position: absolute;
  left: 59.791vw;
  top: 23.796vh;
  background: #101010;
  border: none;
  width: 23vw;
  height: 28vh;
}
#logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #0000009c;
  font-size: 80px;
  font-family: 'Josefin Sans', sans-serif;
}
#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 610px;
  display: flex;
}
