html,body {
  margin: 0;
  padding: 0;
  background: #212121;
}
#controls {
  background: #191919;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  color: #bbb;
}
#title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 24px;
  margin-top: 10px;
}
#contents {
  width: 90%;
  margin: auto;
}

.label {
  font-family: sans-serif;
  margin-bottom: 10px;
}

#bg {
  background: #bbb;
  margin-left: 10px;
  width: 256px;
}
.el {
  margin-bottom: 20px;
}

input {
  margin-left: 10px;
  background: #bbb;
  border: none;
  padding: 4px;
  width: 250px;
}
#gen {
  width: 100px;
  height: 30px;
  background: #3F51B5;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  border-radius: 5px;
  margin: auto;
  margin-top: 80px;
  cursor: pointer;
  margin-bottom: 40px;
}
#result {
  background: #bbb;
  color: #212121;
  padding: 5px;
  width: 64%;
  min-height: 20px;
  font-family: sans-serif;
  margin-left: 18%;
}
